{% extends "base_template.html" %}
{% load bootstrap5 %}

{% block style %} .container main {
max-width: 960px; } .bd-placeholder-img { font-size: 1.125rem; text-anchor:
middle; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
@media (min-width: 768px) { .bd-placeholder-img-lg { font-size: 3.5rem; } } 
{% endblock style %} 
{% block content %}
<main>
  <div class="py-5 text-center">
    <h2>Invoice</h2>
  </div>
  <form method="post" action="{% url 'create' %}" class="needs-validation" novalidate>
		{% csrf_token %}

    {% comment %} {{invoice_form}} {% endcomment %}
    {% bootstrap_form invoice_form layout='horizontal' %}
    {% comment %} <div class="row">
        <div class="col-sm-6">
          <label for="id_invoice_date" class="form-label">Invoice Date</label>
          <input type="date" name="invoice_date" required="" id="id_invoice_date">
        </div>
    </div>
    <div class="row">
			<div class="col-6 row g-3">
				<h4 class="mb-3">Seller address</h4>
        <div class="col-sm-12">
          <label for="seller_name" class="form-label">Selller Name</label>
          <input
            type="text"
            class="form-control"
            id="Name"
            name="seller_name"
            placeholder="Name"
            value=""
            required
          />
          <div class="invalid-feedback">Valid first name is required.</div>
        </div>

        <div class="col-12">
          <label for="seller_address" class="form-label">Seller Address</label>
          <textarea
            class="form-control"
            id="address"
            placeholder="1234 Main St"
            name="seller_address"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>
				<div class="col-12">
          <label for="seller_mobile" class="form-label">Phone Number</label>
					<input
            type="phone"
            class="form-control"
            id="seller_mobile"
            name="seller_mobile"
						maxlength="10"
            placeholder="1234567890"
            required
          />
          <div class="invalid-feedback">
            Please enter your Phone Number.
          </div>
        </div>
      </div>
      <div class="col-6 row g-3">
				<h4 class="mb-3">Billing address</h4>
        <div class="col-sm-12">
          <label for="buyer_name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="Name"
            name="buyer_name"
            placeholder="Name"
            value=""
            required
          />
          <div class="invalid-feedback">Valid first name is required.</div>
        </div>

        <div class="col-12">
          <label for="buyer_address" class="form-label">Address</label>
          <textarea
            class="form-control"
            id="address"
            placeholder="1234 Main St"
            name="buyer_address"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>
				<div class="col-12">
          <label for="buyer_mobile" class="form-label">Phone Number</label>
					<input
            type="phone"
            class="form-control"
            id="buyer_mobile"
            name="buyer_mobile"
						maxlength="10"
            placeholder="1234567890"
            required
          />
          <div class="invalid-feedback">
            Please enter Phone Number.
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    <hr class="my-4" />
    <h4 class="mb-3">Cart</h4>
    {{ order_formset.management_form }}
    
    <div id="item_content" class="row">
      {% for order_form in order_formset %}
      <div class="col-12 p-2">
          {{ order_form }}
      </div>
      {% endfor %}
    </div>
    <div class="p-2 text-right">
      <button class="btn btn-sm btn-primary" onclick="addFields()" type="button">ADD</button>
    </div>
  
    <hr class="my-4" />

    <button class="w-100 btn btn-primary btn-lg" type="submit">
      Continue
    </button>
  </form>
</main>
<script type='text/javascript'>
  var x = document.getElementById("id_form-TOTAL_FORMS").value;
  {% comment %} document.getElementById('id_invoice_date').valueAsDate = new Date(); {% endcomment %}
  var i = parseInt(i) - 1;
  function addFields(){
    i = parseInt(i) + 1;
    var form1 = document.createElement("div");
    form1.classList.add('col-12');
    form1.classList.add('row');
    // Container <div> where dynamic content will be placed
    var container = document.getElementById("item_content");
    // Create an <input> element, set its type and name attributes
    var input = document.createElement("input");
    input.type = "text";
    input.name = "form-"+ i +"-description";
    input.classList.add('form-control');

    var label = document.createElement("label");
    label.setAttribute("for", "id_form-"+ i +"-description");
    label.innerHTML = "Item Name";
    label.classList.add('form-label');

    var subform = document.createElement("div");
    subform.classList.add('col-4');
    subform.appendChild(label);
    subform.appendChild(input);
    form1.appendChild(subform);

    
    // 2nd field
    var input = document.createElement("input");
    input.type = "number";
    input.step = "0.01";
    input.name = "form-"+ i +"-unit_price";
    input.classList.add('form-control');

    var label = document.createElement("label");
    label.setAttribute("for", "id_form-"+i+"-unit_price");
    label.innerHTML = "Unit Price";
    label.classList.add('form-label');

    var subform = document.createElement("div");
    subform.classList.add('col-4');
    subform.appendChild(label);
    subform.appendChild(input);
    form1.appendChild(subform);

    // 3rd field
    var input = document.createElement("input");
    input.type = "number";
    input.step = "0.01";
    input.name = "form-"+ i +"-quantity";
    input.id = "id_form-"+i+"-quantity";
    input.value = "1"
    input.classList.add('form-control');

    var label = document.createElement("label");
    label.setAttribute("for", "id_form-"+i+"-quantity");
    label.innerHTML = "Quantity";
    label.classList.add('form-label');


    var subform = document.createElement("div");
    subform.classList.add('col-4');
    subform.appendChild(label);
    subform.appendChild(input);
    form1.appendChild(subform);
    container.appendChild(form1);
    document.getElementById("id_form-TOTAL_FORMS").value = parseInt(x) + 1; 
  }
</script>
{% endblock content %}
